<div class="entry">
{{#if name}}
<h3>Hi {{name}}!</h3>
{{else}}
<h3>Hello!</h3>
{{/if}}
</div>

<p>Thanks for reaching out and checking out my portfolio.</p>

<p>I will contact you as soon as I get then chance.</p>

<p>Thanks again and have a great day!</p>

<p>All the best,</p>

<p>Cary Tanner</p>